@import "../../styles/constants";

.pagination {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: flex-start;
  background-color: $bg-light;
  button {
    border-radius: var(--bs-border-radius);
    background-color: #fff;
    border: 1px solid $color-gray;
    font-size: 0.9rem;
    transition: background-color $transition;
    width: 2rem;
    height: 2rem;
    &:first-of-type {
      background-color: $color-primary;
    }
    &:hover {
      background-color: $color-primary;
    }
  }
}
