@import "../../styles/constants";

header {
  display: flex;
  justify-content: flex-end;
  padding: $padding-header;

  @media (max-width: 1000px) {
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 600px) {
    justify-content: flex-end;
    padding: 0.5rem;
  }
}
