@import "../../styles/constants";

.large-heading {
  font-size: $font-lg-heading;
  font-family: $font-lato;
  color: $color-secondary;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  text-align: center;

  @media (max-width: 1000px) {
    font-size: 1.7rem;
  }
}

.medium-heading {
  font-size: $font-md-heading;
  margin: 0;
  text-align: center;
  font-weight: bold;
  @media (max-width: 980px) {
    font-size: 1rem;
  }
}

.sub-heading {
  font-family: $font-times;
  font-size: $font-sm-heading;
  font-style: italic;
  text-transform: capitalize;
  margin: 0;

  @media (max-width: 1000px) {
    font-size: 1rem;
  }
}

.news-heading {
  font-size: $font-news-heading;
  margin: 0;
}

.sm-heading {
  font-size: $font-sm-heading;
  margin: 0;
}
