@import "fonts";

$font-roboto: "Roboto", sans-serif;
$font-lato: "Lato", sans-serif;
$font-times: "Times New Roman", serif;

$font-size-logo: 42px;

$color-primary: #28b8d2;
$color-secondary: #303030;

$bg-color-section: #fafafa;
$font-color-section: #1a1a1a;
$font-color-section-hover: #27b8d1;
$color-font-news: #999;
