@import "../../styles/constants";

main {
  background-color: #fff;
  padding: $padding-main;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  div {
    &:first-child {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
