@import "../../styles/constants";

.search-bar {
  position: relative;
  input {
    padding: 0.3rem 2rem 0.3rem 1rem;
    border: none;
    border: 2px solid $color-gray;
    // border-radius: var(--bs-border-radius);
  }
  button {
    position: absolute;
    top: 0.4rem;
    right: 0.6rem;
    padding: 0.2rem;
    background-color: inherit;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
